<div id="<%= dom_id post %>">
  <p>
    <strong>Discussion thread:</strong>
    <%= post.discussion_thread_id %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= post.content %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= post.image %>
  </p>

</div>
